span{
    color:orange;
}

img{
    width: 100%; /*親に対して幅を合わせる*/
    height: 100%; /*親に対して高さを合わせる*/
    object-fit: cover; 
    /* object-fit: 画像の比率を維持しつつ、親のサイズに合わせる(トリミングされてサイズを合わせる)*/
    /* object-fit: contain; 画像の比率を維持しつつ、小さくして並べる */
}

.main-visual{
    /* background-color:yellow; */
    background-image: url("../images/main-visual.png");
    height: 400px;
    width: 100%;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    /* ポジション左右上下 */
    background-position: center center;
    /* 上側の内余白 */
    padding-top: 60px;
    /* 余白計算を含み計算にする. 高さは400pxを維持してその中で余白をとる */
    box-sizing: border-box;
}

.wrapper{
    /* 最大でも1000pxまで */
    max-width: 1000px;
    margin: 0 auto;

}


p{
    color:white;
    text-align: center;
}

.main-catch{
    font-size: 48px;
    font-weight: bold;
}

.cta-button{
    /* font-size: 20px; */
    color: white;
    /* 背景オレンジ */
    background-color: orange;
    /* 下線をなくす */
    text-decoration: none;
    /* 太字 */
    font-weight: bold;
    /* 内側の余白 */
    padding: 3% 5%;
    /* 角の丸み　左上　右上　右下　左下 */
    border-radius: 8px;

    /* 性格をpやh、divと同じに捻じ曲げる */
    /*もともとはinlineという性格。inline(<a>や<span>)だとmarginとかが効かない。これをblock(<p>, <h>, <div>など)性質に変える。*/
    /* https://saruwakakun.com/html-css/basic/display */
    display: block; 

    /* 中央揃え */
    text-align: center;
    /* 幅を絞る */
    width: 30%;
    /* 外側の余白 */
    /* margin-top: 20px; */
    /* margin-right: auto; 　autoは左右の余白を均等にする */
    /* margin-left: auto;　 autoは左右の余白を均等にする*/
    /* margin-bottom */
    margin: 20px auto 0;

}

header{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;  /*両端揃え*/
    align-items: center;  /*上下中央揃え */
    padding: 10px 40px; /*上下10px、左右40pxのパディング */
}

ul{
    display: flex;
    /* 上下中央揃え */
    list-style-type: none; /*リストの点を消す */
    /* 左右の余白 */
    gap: 10px; /*flexの子要素の隙間を指定する */
    
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3列のグリッド 1:1:1の大きさ */
    /* grid-template-columns: 1fr 2fr 1fr; 3列のグリッド 1:2:1の大きさ */
    /* grid-template-columns: 1fr; 1列のグリッド 1:1:1の大きさ */
    gap:30px;
}



