span{
    color:orange;

}

section{
    /* background-color:yellow; */
    background-image: url("../images/main-visual.png");
    height: 400px;
    width: 100%;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    /* ポジション左右上下 */
    background-position: center center;
    /* 上側の内余白 */
    padding-top: 60px;
    /* 余白計算を含み計算にする */
    box-sizing: border-box;
}

.wrapper{
    /* 最大でも1000pxまで */
    max-width: 1000px;
    margin: 0 auto;

}

div{
    /* 最大でも（横幅は）1000pxまで */
    max-width: 1000px;

}

p{
    color:white;
    text-align: center;
}

.main-catch{
    font-size: 48px;
    font-weight: bold;
}

.cta-button{
    /* font-size: 20px; */
    color: white;
    /* 背景オレンジ */
    background-color: orange;
    /* 下線をなくす */
    text-decoration: none;
    /* 太字 */
    font-weight: bold;
    /* 内側の余白 */
    padding: 3% 5%;
    /* 角の丸み　左上　右上　右下　左下 */
    border-radius: 8px;

    /* 性格をpやdivと同じに捻じ曲げる */
    display: block; /*もともとはinline */
    /* 中央揃え */
    text-align: center;
    /* 幅を絞る */
    width: 30%;
    /* 外側の余白 */
    /* margin-top: 20px; */
    /* margin-right: auto; */
    /* margin-left: auto; */
    margin: 20px auto 0;

}
